.container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    height: 100px;
    background-color: rgb(255, 255, 255);
    
    
}
.box{
    flex: 1;
    min-width: 15px;
    height: 100px;
    background: rgb(130, 219, 209);
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    border-radius: 1px;
    
    
    
    
}